
ChessLogic/bin/Debug/net9.0/ChessLogic.dll
ChessLogic/bin/Debug/net9.0/ChessLogic.pdb
ChessLogic/obj/Debug/net9.0/ChessLogic.AssemblyInfo.cs
ChessLogic/obj/Debug/net9.0/ChessLogic.AssemblyInfoInputs.cache
ChessLogic/obj/Debug/net9.0/ChessLogic.csproj.FileListAbsolute.txt
ChessLogic/obj/Debug/net9.0/ChessLogic.dll
ChessLogic/obj/Debug/net9.0/ChessLogic.pdb
ChessLogic/obj/Debug/net9.0/ChessLogic.sourcelink.json
ChessLogic/obj/Debug/net9.0/ref/ChessLogic.dll
ChessLogic/obj/Debug/net9.0/refint/ChessLogic.dll
ChessLogic/bin/Debug/net9.0/ChessLogic.dll
ChessLogic/bin/Debug/net9.0/ChessLogic.pdb
ChessLogic/obj/Debug/net9.0/ChessLogic.AssemblyInfo.cs
ChessLogic/obj/Debug/net9.0/ChessLogic.AssemblyInfoInputs.cache
ChessLogic/obj/Debug/net9.0/ChessLogic.csproj.FileListAbsolute.txt
ChessLogic/obj/Debug/net9.0/ChessLogic.dll
ChessLogic/obj/Debug/net9.0/ChessLogic.pdb
ChessLogic/obj/Debug/net9.0/ref/ChessLogic.dll
ChessLogic/obj/Debug/net9.0/refint/ChessLogic.dll
